@using Microsoft.AspNetCore.Identity
@using PTOTMT.Web.Models;
@using PTOTMT.Common.Entities; 
@inject SignInManager<AspNetUsers> SignInManager
@inject UserManager<AspNetUsers> UserManager

@{
        string returnUrl = null;
        var query = ViewContext.HttpContext.Request.Query;
        if (query.ContainsKey("returnUrl"))
        {
            returnUrl = query["returnUrl"];
        }
    }

@*<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">*@
@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        @*<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/">*@
        @*<button type="submit" class="nav-link btn btn-link text-dark">Logout</button>*@
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@returnUrl">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="/">Login</a>
        </li>*@
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@returnUrl">Register</a>
        <li>
        <li>
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="/">Login</a>
        </li>
    </ul>
}
@*</ul>*@
